{% extends 'base_template.html' %}
{% load staticfiles %}
{% load humanize %}

{% block style %}
    {% static 'productApp/css/product_style.css' %}
{% endblock %}


{#    <h1>{{ product.fk_subcatalog }}</h1>#}
{#    <h1>{{ product.slug }}</h1>#}
{#    <h1>{{ product.name }}</h1>#}
{#    <h1>{{ product.description }}</h1>#}
{#    <h1>{{ product.price }}</h1>#}
{#    {% for image in product.images_product.all %}#}
{#        <img src="{{ image.image.url }}" alt="">#}
{#    {% endfor %}#}
{#    #}
{#    <h1>#}
{#        {% for c in product.counts.all %}#}
{#            <h2>{{ c.count }}</h2>#}
{#            <h2>{{ c.fk_size }}</h2> <br>#}
{##}
{#        {% endfor %}#}
{#    </h1>#}


{% block context %}
    <section class="back">
        <div class="container-2">
            <a href="javascript:history.go(-1)">Назад</a>
        </div>
    </section>

    <section class="product">
        <div class="container-2">
            <div class="block_product">
                <div class="tile_images">
                    {% for image in product.images_product.all %}
                        <img src="{{ image.image.url }}" alt="">
                    {% endfor %}
                </div>
                <div class="block_text">
                    <h2>{{ product.name }}gfgdfgdfgdfgdgfdfgdagfadgag</h2>
                    <h2>{{ product.price|intcomma }} руб.</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock %}