{% extends 'base_template.html' %}
{% load staticfiles %}
{% load humanize %}

{% block style %}
    {% static 'productApp/css/product_style.css' %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'orderApp/js/order_ajax.js' %}"></script>
{% endblock %}

{% block context %}
{#    <a href="{% url 'orderApp:order_clear' %}">clear</a>#}
    <section>
        <div class="container-2">
            <div id="window_size">
                <div class="window_size_context">
                    <span id="window_size_close">&times;</span>
                    <h1>table</h1>
                    <img src="{{ product.images_product.first.image.url }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="back">
        <div class="container-2">
            <a href="javascript:history.go(-1)">Назад</a>
        </div>
    </section>

    <section class="product">
        <div class="container-2">
            <div class="block_product">
                <div class="tile_images">
                    {% for image in product.images_product.all %}
                        <img src="{{ image.image.url }}" alt="">
                    {% endfor %}
                </div>
                <div class="block_text">
                    <form method="get">
                        <div class="block_name_price">
                            <h2>{{ product.name }}</h2>
                            {% if product.old_price %}
                                <div class="sale">
                                    <h3>{{ product.old_price|intcomma }} руб.</h3>
                                    <h2>{{ product.price|intcomma }} руб.</h2>
                                </div>
                            {% else %}
                                <h2>{{ product.price|intcomma }} руб.</h2>
                            {% endif %}
                        </div>

                        <div class="squares_color">
                            {% for colors in product.product_join_color.all %}
                                <div class="block_color">
                                    <h3 class="text_color">
                                        {{ colors.fk_color_product.name }}
                                    </h3>
                                    <div class="square_color"
                                        style="background: {{ colors.fk_color_product.color }};"
                                    ></div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="block_size">
                            {% ifequal product.counts.all|length 1 %}
                                <span>Стандартный размер </span>
                                <input type="hidden" name="count_id"
                                       value="{{ product.counts.first.id }}">
                            {% else %}
                                {% for count in product.counts.all %}
                                    {% ifnotequal count.count 0 %}
                                        <label>
                                            <input type="radio" name="count_id" id="id_count_id"
                                                   value="{{ count.id }}" required onclick="radioVal();">
                                            <span>{{ count.fk_size }}</span>
                                        </label>
                                    {% else %}
                                        <span class="block_disabled">{{ count.fk_size }}</span>
                                    {% endifnotequal %}
                                {% endfor %}
                            {% endifequal %}
                        </div>
                        <div class="block_size_description">
                            <h4 id="window_size_open">Руководство по размерам</h4>
                            {% ifequal product.counts.all|length 1 %}
                                <h4>Размер выбран</h4>
                            {% else %}
                                <h4 id="size_value">Размер не выбран</h4>
                            {% endifequal %}
                        </div>
                        <button class="link_button add_product" type="submit">Добавить в корзину</button>
                        <div class="block_description">
                            <h3>Информация о товаре</h3>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="block_link_more">
                            <a href="#">Состав и уход</a>
                            <a href="#">Доставка</a>
                            <a href="#">Возврат</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        var window_size = document.getElementById('window_size');
        var btn_open = document.getElementById("window_size_open");
        var btn_close = document.getElementById("window_size_close");

        btn_open.onclick = function () {
            window_size.style.display = 'block';
        };

        btn_close.onclick = function () {
            window_size.style.display = 'none';
        }

        window_size.onclick = function (e) {
            if (e.target == window_size) {
                window_size.style.display = 'none';
            }
        }
    </script>

    <script>
        function radioVal() {
            size_val = $("input:radio:checked").siblings().html();
            $("#size_value").html("Ваш размер " + size_val);
        }
    </script>
{% endblock %}