{% extends 'base_template.html' %}
{% load staticfiles %}
{% load humanize %}

{% block style %}
    {% static 'catalogApp/css/catalog_style.css' %}
{% endblock %}

{% block context %}

{#    <div class="filter">#}
{#        <label for="sale">#}
{#            <input form="filter_and_sort" type="checkbox" name="sale"#}
{#                   value="True" id="sale"#}
{#                   {% if sale %}#}
{#                       checked#}
{#                    {% endif %}#}
{#            >#}
{#            sale#}
{#        </label>#}
{#        <label for="new">#}
{#            <input form="filter_and_sort" type="checkbox" name="new"#}
{#                   value="True" id="new"#}
{#                   {% if new %}#}
{#                       checked#}
{#                    {% endif %}#}
{#            >#}
{#            new#}
{#        </label>#}
{#        <button form="filter_and_sort" type="submit">send</button>#}
{#    </div>#}

    <section class="sorted">
        <div class="container">
            <nav>
                <form id="filter_and_sort" action="{{ request.path }}" method="get"></form>
                <ul>
                    <li><h4>Упорядочить</h4></li>
                    <li>
                        <label for="id_sort_0">
                            <input form="filter_and_sort" type="radio" name="sort"
                                   value="min_price" onchange="this.form.submit()" id="id_sort_0"
                                   {% ifequal sort_price 'min_price' %}
                                        checked
                                    {% endifequal %}
                            >
                            по цене min
                        </label>
                    </li>
                    <li>
                        <label for="id_sort_1">
                            <input form="filter_and_sort" type="radio" name="sort"
                                   value="max_price" onchange="this.form.submit()" id="id_sort_1"
                                   {% ifequal sort_price 'max_price' %}
                                        checked
                                    {% endifequal %}
                            >
                            по цене max
                        </label>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="catalog_list">
        <div class="container">
            <div class="view_catalog">
                <nav class="view_menu_catalog">
                     <ul>
                        <li class="red_text">
                            <h2>Межсезонная распродажа</h2>
                        </li>
                        <li>
                            <h2>Новинки</h2>
                        </li>
                        <li>
                            <h2>Одежда</h2>
                            <ul>
                                <li><a href="{% url 'catalogApp:catalog' '1' %}?{{ request.GET.urlencode }}">Пальто</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '2' %}?{{ request.GET.urlencode }}">Пиджаки</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '3' %}?{{ request.GET.urlencode }}">Брюки</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '4' %}?{{ request.GET.urlencode }}">Рубашки</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '5' %}?{{ request.GET.urlencode }}">Свитеры и джемперы</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Обувь</h2>
                            <ul>
                                <li><a href="{% url 'catalogApp:catalog' '6' %}?{{ request.GET.urlencode }}">Туфли</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '7' %}?{{ request.GET.urlencode }}">Ботинки</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Аксессуары</h2>
                            <ul>
                                <li><a href="{% url 'catalogApp:catalog' '8' %}?{{ request.GET.urlencode }}">Галстуки и бабочки</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '9' %}?{{ request.GET.urlencode }}">Сумки</a></li>
                                <li><a href="{% url 'catalogApp:catalog' '10' %}?{{ request.GET.urlencode }}">Ароматы</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="filter">
                        <label for="sale">
                            <input form="filter_and_sort" type="checkbox" name="sale"
                                   value="True" id="sale"
                                   {% if sale %}
                                       checked
                                    {% endif %}
                            >
                            Распродажа <br>
                        </label>
                        <label for="new">
                            <input form="filter_and_sort" type="checkbox" name="new"
                                   value="True" id="new"
                                   {% if new %}
                                       checked
                                    {% endif %}
                            >
                            Новая коллекция <br>
                        </label>
                        <button form="filter_and_sort" type="submit">Отфильтровать</button>
                    </div>

                </nav>
                <div class="view_tile_catalog">
                    {% if products %}
                        {% for product in products %}
                            <div class="{% cycle 'tile_box_1' 'tile_box_2' 'tile_box_3' %}">
                                <a href="{% url 'productApp:product' product.id %}" class="link_image">
                                    <img src="{{ product.images_product.first.image.url }}" alt="">
                                </a>
                                <div class="block_view">
                                    {% ifequal product.counts.all|length 1 %}
                                        <div class="block_void_color_size"></div>
                                    {% else %}
                                        <div class="color_size">
                                            <div class="squares_color">
                                                {% for colors in product.product_join_color.all %}
                                                    <div class="square_color"
                                                        style="background: {{ colors.fk_color_product.color }};"
                                                    ></div>
                                                {% endfor %}
                                            </div>
                                            <form id="form1" action="{% url 'orderApp:order_add' %}" method="get"></form>
                                            <div class="block_size">
                                                {% for count in product.counts.all %}
                                                    {% ifnotequal count.count 0 %}
                                                        <label>
                                                            <input form="form1" type="radio" name="size"
                                                                   value="{{ count.fk_size }}" required>
                                                            <span>{{ count.fk_size }}</span>
                                                        </label>
                                                    {% else %}
                                                        <span class="block_disabled">{{ count.fk_size }}</span>
                                                    {% endifnotequal %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endifequal %}
                                    <button form="form1" class="link_button" type="submit">Добавить в корзину</button>
                                </div>

                                <a href="{% url 'productApp:product' product.id %}" class="link_text">
                                    <h3>{{ product.name }}</h3>
                                    {% if product.old_price %}
                                        <div class="sale">
                                            <h3>{{ product.old_price|intcomma }} руб.</h3>
                                            <h4>{{ product.price|intcomma }} руб.</h4>
                                        </div>
                                    {% else %}
                                        <h3>{{ product.price|intcomma }} руб.</h3>
                                    {% endif %}
                                    {% if product.new %}
                                        <div class="new">
                                            <h5>new</h5>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>{{ subcatalog_name }} временно отсутствуют.</h2>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
