/* Sorted catalog */
.sorted {
    overflow: hidden;
}

.sorted nav {
    margin: 5px 40px;
    float: right;
    font-size: 10px;
}

.sorted li {
    margin-bottom: 5px;
}

.sorted h4 {
    text-transform: uppercase;
}

.sorted span:hover {
    color: #807c76;
    cursor: pointer;
}

/* Vertical menu catalog */
.view_catalog {
    display: flex;
    align-items: flex-start;
    /*border: 1px solid red;*/
}

/* View menu catalog */
.view_menu_catalog {
    flex: 1;
    /*border: 1px solid blue;*/
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    position: sticky;
    top: 75px;
}

.view_menu_catalog h2 {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.view_menu_catalog a {
    display: block;
    margin-bottom: 14px;
    color: #3a2900;
    text-decoration: none;
    font-weight: normal;
}

.view_menu_catalog h2:hover {
    color: #8f8e8d;
    cursor: pointer;
}

.view_menu_catalog h2:active {

}

.view_menu_catalog a:hover {
    color: #8f8e8d;
}

.red_text h2 {
    color: #fc2c22;
}

.red_text h2:hover {
    color: #bd8383;
}

.view_menu_catalog ul li ul {
    margin-left: 10px;
}

/* View tile catalog */
.view_tile_catalog {
    /*border: 1px solid green;*/
    flex: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    justify-items: center;
    align-self: start;
    justify-content: space-between;
}

.tile_box_1, .tile_box_2, .tile_box_3 {
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tile_box_1 {
    /*border: 1px solid green;*/
    width: 908px;
    grid-column: 1/3;
}

.tile_box_2, .tile_box_3 {
    /*border: 1px solid green;*/
    width: 422px;
}

.tile_box_1 a, .tile_box_2 a, .tile_box_3 a {
    display: block;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.tile_box_1 .link_image {
    height: 1213px;
    /*border: 1px solid red;*/
}

.tile_box_2 .link_image, .tile_box_3 .link_image{
    height: 564px;
    /*border: 1px solid red;*/
}

.block_view {
    opacity: 0;
    transition-duration: .3s;
    /*border: 3px solid green;*/
    margin-top: -100px;
}

.block_size {
    padding: 26px 0;
    background: rgba(232, 232, 232, 0.7);
}

.block_size {
    font-weight: normal;
    font-size: 11px;
    color: #000;
}

.block_size input[type='radio'] {
    display: none;
}

.block_size input[type='radio'] + span {
    cursor: pointer;
}

/*.block_size input[type="radio"] + span::before {*/
    /*display: inline-block;*/
    /*content: "";*/
/*}*/

.block_size input[type='radio']:checked + span {
    border-bottom: 2px solid #000;
}

.block_size span {
    margin: 0 6px;
}

.block_disabled {
    color: #807c76;
    cursor: default;
}

.link_button {
    /*border: 1px solid blue;*/
    border: none;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #bb8e62;
    padding: 12px 0;
    cursor: pointer;

}

.link_image:hover + .block_view, .block_view:hover {
    opacity: 1;
    transition-duration: .5s;
}

.link_text {
    padding-top: 25px;
    color: #3a2900;
    /*border: 1px solid red;*/
}