<section class="login_form">
    <div class="container">
        <div class="login_form_content">
            <div  class="login_form_close">
                <span id="login_close">&times;</span>
            </div>
            <h2>Начать покупки</h2>
            <p>Для входа введите логин и пароль</p>

            <form action="{% url 'accountApp:login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" autofocus placeholder="Электронный адрес">
                <input type="password" name="password" placeholder="Пароль">
                <p class="login_error"></p>
                <button id="login_button" type="submit">Войти</button>
            </form>

            <h3>У вас нет аккаунта?</h3>
            <div class="signup_form_open">Зарегистрироваться</div>
        </div>
    </div>
</section>