{% extends 'base_template.html' %}
{% load staticfiles %}
{% load humanize %}

{% block style %}
    <link rel='stylesheet' href='{% static 'orderApp/css/order_style.css' %}'>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'orderApp/js/order_ajax.js' %}"></script>
{% endblock %}

{% block context %}
    <section class="order">
        <div class="container-order">
            <h2>Корзина</h2>

            {% for product_order in order %}

                <div class="product_order">
                    <a  href="{% url 'productApp:product' product_order.product.id %}">
                        <img src={{ product_order.product.images_product.first.image.url }} alt="">
                    </a>
                    <div class="product_order_text">
                        <div class="delete">
                            <a href="{% url 'orderApp:order_remove' product_order.id %}" >&times;</a>
                        </div>


                        <h3 class="name">
                            <a  href="{% url 'productApp:product' product_order.product.id %}">
                                {{ product_order.product }}
                            </a>
                        </h3>
                        <div class="size_price">
                            <div>
                                <h4>Размер</h4>
                                {% ifequal product_order.size 1 %}
                                    <h6>Единый</h6>
                                {% else %}
                                    <h5>{{ product_order.size }}</h5>
                                {% endifequal %}
                            </div>
                            <div>
                                <h4>Цена</h4>
                                <div id="price_id_{{ product_order.id }}">
                                    <h5>{{ product_order.total_price|intcomma }} руб.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="count">
                            <h4>Количество</h4>
                            <h5>
                                <form method="get">
                                    <input type="hidden" name="count_id" value="{{ product_order.id }}">
                                    <button class="change_count_product delete_product" type="submit"
                                    {% if product_order.count == 1 %}
                                        style="visibility: hidden"
                                    {% endif %} >-</button>
                                    <span class="count_product">{{ product_order.count }}</span>
                                    <button class="add_product" type="submit">+</button>
                                    <span class="error_count"></span>
                                </form>
                            </h5>


                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if order %}
                <hr>
                <a href="{% url 'orderApp:order_clear' %}">clear</a>
                <div class="total">
                    <div>
                        <div>
                            <h4>Товары</h4>
                            <h5>{{ order.get_total_price|intcomma }} руб.</h5>
                        </div>
                        <div>
                            <h4>Стандартная доставка</h4>
                            <h5>490 руб.</h5>
                        </div>
                        {% if not order.get_delivery_price %}
                            <div>
                                <h4>Бесплатная стандартная доставка</h4>
                                <h5>-490 руб.</h5>
                            </div>
                        {% endif %}
                        <div>
                            <h4>Итог</h4>
                            <h5>{{ order.get_total_delivery_price|intcomma }} руб.</h5>
                        </div>
                        <a href="#">Обработать заказ</a>
                    </div>
                </div>
            {% else %}
                <h3>Ваша корзина пуста.</h3>
            {% endif %}
        </div>
    </section>

    <form action="{% url 'orderApp:order_processing' %}" method="post">
        {% csrf_token %}
        {% if not is_auth %}
            <input type="text" name="name">
            <input type="text" name="surname">
            <input type="email" name="email">
        {% endif %}
        <input type="text" name="address" value="{{ address }}">
        <input type="number" name="phone" value="{{ phone }}">
        <input type="text" name="comment">
        <input type="submit" value="submit">
    </form>

{% endblock %}