body {
	font-family: "century gothic", sans-serif;
	color: #3a2900;
	background-color: #f7f3ed;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header {
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
	background: #f0e8de;
	border-bottom: 2px solid #a09b94;

}
.main {
	padding: 15px 0 18px;
	display: flex;
	align-items: center;
}

.menu > ul {
	display: flex;
}

.menu a {
	padding: 5px 14px 10px;
	margin-bottom: 5px;
	text-decoration: none;
	color: #3a2900;
}

.menu ul li > a:hover {
	text-decoration: underline;
	text-decoration-color: #807c76;
	transition-duration: .3s;
}

.catalog {
	flex: 4;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.catalog ul li > a {
	cursor: default;
}

.menu ul li:hover > a {
	text-decoration: underline;
	text-decoration-color: #807c76;
	transition-duration: .3s;
}

.catalog li ul {
	position: absolute;
	height: 350px;
	margin-top: 10px;
    padding: 0;
    left: 0;
    right: 0;
	background: #f0e8de;
    display: none;
	border-bottom: 2px solid #a09b94;
}

.catalog li:hover ul {
    display: block;
	transition-duration: .3s;
}

.catalog li ul li {
	margin-right: 10px;
	margin-top: 40px;
	display: flex;
	justify-content: center;
}
.col_catalog {
	width: 250px;
	text-align: center;
}

.col_catalog h3 {
	height: 30px;
}

.col_catalog:first-child, .col_catalog:first-child a {
	color: #e00000;
}

.text_col-1, .text_col-2, .text_col-3 {
	margin-top: 30px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	text-transform: none;
}

.text_col-1 {
	margin-left: 72px;
}

.text_col-2 {
	margin-left: 92px;
}

.text_col-3 {
	margin-left: 87px;
}

.menu div a {
	display: block;
}

.col_catalog:first-child a:hover {
	color: #bd8383;
	text-decoration: none;
	transition-duration: .3s;
}

.col_catalog a:hover {
	color: #8f8e8d;
	transition-duration: .3s;
}

.col_catalog a, .col_catalog a {
	padding: 12px 0;
}

.catalog ul > li:first-child {
	margin-left: 14px;
}

.logo {
	flex: 1;
	text-align: center;
}

.navigation {
	flex: 4;
	font-size: 13px;
}

.navigation ul {
	justify-content: flex-end;
}
.navigation ul li {
	margin-left: 20px;
}

.navigation ul li:first-child {
	width: 100px;
	/*border: 1px solid red;*/
}

.navigation ul li:first-child a {
	padding-right: 3px;
}

.order_count span {
	background-color: #bb8e62;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	border-radius: 50%;
	padding: 2px 6px;
}

.navigation ul li:nth-child(2) {
	margin-left: 10px;
}

.navigation ul li:last-child {
	margin-right: 28px;
	width: 65px;
}

.login_form_open {
	cursor: pointer;
}



/* Void for header */
.void_for_header {
	height: 64px;
}



/* Footer */
.footer {
	background: #e8e3dd;
}

.block_footer {
	display: flex;
	justify-content: space-between;
	padding: 76px 208px 56px;
}

.block_footer h3 {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 55px;
}

.box_link_footer a {
	display: block;
	font-size: 10px;
	color: #3a2900;
	text-decoration: none;
	margin-bottom: 20px;
}

.box_link_footer a:hover {
	color: #8f8e8d;
	transition-duration: .3s;
}

/* Protection */
.protection {
	border-top: 1px solid #978c76;
}
.protection h3 {
	float: right;
	font-size: 9px;
	margin: 14px 30px 28px 0;
}
