.container-order {
    margin: 0 auto;
    width: 700px;
}

.order h2 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 50px;
}

.product_order {
    height: 170px;
    margin-bottom: 40px;
}

.product_order img {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.product_order_text .delete {
    display: block;
    font-size: 30px;
    text-align: right;
}

.product_order_text .delete a {
    color: #3a2900;
    text-decoration: none;
}

.name {
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px 0 15px;

    /*border: 1px solid red;*/
}

.name a {
    color: #3a2900;
    text-decoration: none;
}

.size_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.size_price h4 {
    font-size: 12px;
    color: #555148;
    margin-bottom: 10px;
}

.size_price h5, .count h5 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.size_price h6 {
    font-size: 12px;
    font-weight: bold;
}

.count h4 {
    font-size: 12px;
    color: #555148;
    margin-bottom: 10px;
}

.delete_product, .add_product {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}

.delete_product {
    margin-right: 5px;
}

.count .error_count {
    font-weight: normal;
    text-transform: none;
    color: #c94b44;
    margin-left: 5px;
}

.order hr {
    color: #cac6c1;
    size: 2px;
}

/* Total */
.total {
    display: flex;
    padding-top: 20px;
}

.total div {
    flex: 1;
}

.total div div {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #555148;
    margin-bottom: 10px;
}

.total div:last-child {
    margin-top: 20px;
    font-weight: bold;
}

.total h5 {
    text-transform: uppercase;
}

.total a {
    display: inline-block;
    float: right;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #bb8e62;
}
