.container-2 {
    max-width: 1050px;
	margin: 0 auto;
}

/* Window size table */
#window_size {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.window_size_context {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    width: 500px;
}

#window_size_close {
    display: flex;
    justify-content: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}

.back {
    margin: 10px 0;
}

.back a{
    font-size: 12px;
    color: #3a2900;
    text-decoration: none;
    text-transform: uppercase;
}

.block_product {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    justify-content: space-between;
}

.tile_images {
    /*border: 1px solid blue;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: space-between;
}

.tile_images img {
    width: 325px;
}

.block_text {
    /*border: 1px solid green;*/
}

.block_name_price {
    /*border: 1px solid red;*/
    font-size: 12px;
    color: #3a2900;
    text-transform: uppercase;
    text-align: center;
}

.block_name_price h2 {
    margin-bottom: 5px;
}

.sale h3 {
    text-decoration: #fc2c22 line-through;
    margin-bottom: 5px;
}

.sale h2 {
    color: #fc2c22;
}

.block_size {
    /*border: 1px solid red;*/
    font-size: 12px;
    color: #000;
    margin: 25px 0;
    text-align: center;
}

.block_size input[type='radio'] {
    display: none;
    cursor: pointer;
}

.block_size input[type='radio'] + span {
    cursor: pointer;
}

.block_size input[type='radio']:checked + span {
    border-bottom: 1px solid #000;
}

.block_size span {
    margin: 0 15px;
    padding: 3px 0;
}

.block_disabled {
    color: #807c76;
    cursor: default;
}

.block_size_description {
    display: flex;
    font-size: 10px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    text-align: center;
}

.block_size_description h4 {
    flex: 1;
    /*border: 1px solid red;*/
    text-align: center;
    padding: 15px 0;
    margin: 10px 0;
}

.block_size_description h4:first-child {
    border-right: 1px solid #bbb;
    cursor: pointer;
}

.link_button {
    /*border: 1px solid blue;*/
    border: none;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #bb8e62;
    padding: 10px 0 14px;
    cursor: pointer;
    text-align: center;
}

.block_description {
    margin-bottom: 20px;
}

.block_description h3 {
    font-size: 11px;
    text-transform: uppercase;
    margin: 25px 0 15px;
    text-align: center;
}

.block_description p {
    line-height: 20px;
    font-size: 10px;
    text-align: left;
    /*border: 1px solid red;*/
}

.block_link_more a {
    font-size: 10px;
    display: block;
    color: #3a2900;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #bbb;
    padding: 15px 0;
    margin-bottom: 3px;
    text-align: center;
}