{% load staticfiles %}

<!DOCTYPE html>
<html lang='ru'>

<head>
	<meta charset='UTF-8'>
	<title>Dandy Shop</title>
	<link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href={% static 'accountApp/css/login_style.css' %}>
    <link rel="stylesheet" href="{% static 'accountApp/css/signup_style.css' %}">
    {% block style %}{% endblock %}
</head>

<body>

    {% include 'accountApp/login.html' %}
    {% include 'accountApp/signup.html' %}

	<header class="header">
		<div class="container">
			<div class="main">
				<nav class="menu catalog">
					<ul>
						<li>
							<a>Одежда</a>
							<ul>
								<li>
									<div class="col_catalog">
										<h3>Межсезонная<br>распродажа</h3>
										<div class="text_col-1">
                                            {% for sc in clothes_sale %}
                                                <a href="{% url 'catalogApp:catalog' sc|first %}?sale=True">{{ sc|last }}</a>
                                            {% endfor %}
										</div>
									</div>
									<div class="col_catalog">
										<h3>Новинки</h3>
										<div class="text_col-2">
                                            {% for sc in clothes_new %}
                                                <a href="{% url 'catalogApp:catalog' sc|first %}?new=True">{{ sc|last }}</a>
                                            {% endfor %}
										</div>
									</div>
									<div class="col_catalog">
										<h3>Категории</h3>
										<div class="text_col-3">
											<a href="{% url 'catalogApp:catalog' '1' %}">Пальто</a>
											<a href="{% url 'catalogApp:catalog' '2' %}">Пиджаки</a>
											<a href="{% url 'catalogApp:catalog' '3' %}">Брюки</a>
											<a href="{% url 'catalogApp:catalog' '4' %}">Рубашки</a>
											<a href="{% url 'catalogApp:catalog' '5' %}">Свитеры и джемперы</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a>Обувь</a>
							<ul>
								<li>
									<div class="col_catalog">
										<h3>Межсезонная<br>распродажа</h3>
										<div class="text_col-1">
                                            {% for sc in shoes_sale %}
                                                <a href="{% url 'catalogApp:catalog' sc|first %}?sale=True">{{ sc|last }}</a>
                                            {% endfor %}
										</div>
									</div>
									<div class="col_catalog">
										<h3>Новинки</h3>
										<div class="text_col-2">
                                            {% for sc in shoes_new %}
                                                <a href="{% url 'catalogApp:catalog' sc|first %}?new=True">{{ sc|last }}</a>
                                            {% endfor %}
										</div>
									</div>
									<div class="col_catalog">
										<h3>Категории</h3>
										<div class="text_col-3">
											<a href="{% url 'catalogApp:catalog' '6' %}">Туфли</a>
											<a href="{% url 'catalogApp:catalog' '7' %}">Ботинки</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a>Аксессуары</a>
							<ul>
								<li>
									<div class="col_catalog">
										<h3>Межсезонная<br>распродажа</h3>
										<div class="text_col-1">
                                            {% for sc in accessories_sale %}
                                                <a href="{% url 'catalogApp:catalog' sc|first %}?sale=True">{{ sc|last }}</a>
                                            {% endfor %}
										</div>
									</div>
									<div class="col_catalog">
										<h3>Новинки</h3>
										<div class="text_col-2">
                                            {% for sc in accessories_new %}
                                                <a href="{% url 'catalogApp:catalog' sc|first %}?sale=True">{{ sc|last }}</a>
                                            {% endfor %}
										</div>
									</div>
									<div class="col_catalog">
										<h3>Категории</h3>
										<div class="text_col-3">
											<a href="{% url 'catalogApp:catalog' '8' %}">Галстуки и бабочки</a>
                                            <a href="{% url 'catalogApp:catalog' '9' %}">Сумки</a>
											<a href="{% url 'catalogApp:catalog' '10' %}">Ароматы</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<a href="{% url 'main:index' %}" class="logo"><img src={% static 'images/logo.png' %} alt="DandyShop"></a>
				<nav class="menu navigation">
					<ul>
						<li>
                            <a href="{% url 'orderApp:order_detail' %}">
                                Корзина
                            </a>
                            <span class="order_count">
                                {% if order_len %}
                                    <span>
                                        {{ order_len }}
                                    </span>
                                {% endif %}
                            </span>
                        </li>
						<li><a href="{% url 'main:delivery_pay' %}">Доставка и оплата</a></li>
                            <span class="block_account">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'accountApp:logout' %}">Выход</a></li>
                                {% else %}
                                     <li><a class="login_form_open">Вход</a></li>
                                {% endif %}
                            </span>
					</ul>
				</nav>
			</div>
		</div>
	</header>

    <section class="void_for_header"></section>

	{% block context %}{% endblock %}

	<footer>
		<div class="container">
			<div class="block_footer">
				<div>
					<h3>Справка</h3>
					<div class="box_link_footer">
						<a href="#">Часто задаваемые вопросы</a>
						<a href="{% url 'main:delivery_pay' %}">Доставка и получение</a>
						<a href="{% url 'main:delivery_pay' %}">Оплата</a>
						<a href="#">Обмен и возврат</a>
						<a href="#">Контакты</a>
					</div>
				</div>
				<div>
					<h3>Компания</h3>
					<div class="box_link_footer">
						<a href="#">История бренда</a>
						<a href="#">Работа с нами</a>
					</div>
				</div>
				<div>
					<h3>Будьте в курсе новостей</h3>
					<div class="box_link_footer">
						<a href="https://www.instagram.com/?hl=ru" target="_blank">Instagram</a>
						<a href="https://twitter.com/?lang=ru" target="_blank">Twitter</a>
						<a href="https://www.facebook.com/" target="_blank">Facebook</a>
						<a href="https://www.youtube.com/" target="_blank">Youtube</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<section class="protection">
		<div class="container">
			<h3>Все права защищены</h3>
		</div>
	</section>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'accountApp/js/windows_account.js' %}"></script>
    <script src="{% static 'accountApp/js/account_ajax.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>