{% load staticfiles %}

<!DOCTYPE html>
<html lang='ru'>

<head>
	<meta charset='UTF-8'>
	<title>Dandy Shop</title>
	<link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
	<link rel='stylesheet' href='{% block style %}{% endblock %}'>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="main">
				<nav class="menu catalog">
					<ul>
						<li>
							<a>Одежда</a>
							<ul>
								<li>
									<div class="col_catalog-1">
										<h3>Межсезонная распродажа</h3>
										<div class="text_col-1">
											<a href="#">Пальто</a>
											<a href="#">Пиджаки</a>
                                            <a href="#">Брюки</a>
                                            <a href="#">Рубашки</a>
											<a href="#">Свитеры и джемперы</a>
										</div>
									</div>
									<div class="col_catalog-2">
										<h3>Новинки</h3>
										<div class="text_col-2">
											<a href="#">Новые поступления</a>
											<a href="#">Пиджаки</a>
											<a href="#">Свитеры и джемперы</a>
										</div>
									</div>
									<div class="col_catalog-2">
										<h3>Категории</h3>
										<div class="text_col-2">
											<a href="{% url 'catalogApp:catalog' 'coat' %}">Пальто</a>
											<a href="{% url 'catalogApp:catalog' 'jackets' %}">Пиджаки</a>
											<a href="{% url 'catalogApp:catalog' 'trousers' %}">Брюки</a>
											<a href="{% url 'catalogApp:catalog' 'shirts' %}">Рубашки</a>
											<a href="{% url 'catalogApp:catalog' 'sweaters' %}">Свитеры и джемперы</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a>Обувь</a>
							<ul>
								<li>
									<div class="col_catalog-1">
										<h3>Межсезонная распродажа</h3>
										<div class="text_col-1">
											<a href="#">Ботинки</a>
											<a href="#">Туфли</a>
										</div>
									</div>
									<div class="col_catalog-2">
										<h3>Новинки</h3>
										<div class="text_col-2">
											<a href="#">Новые поступления</a>
										</div>
									</div>
									<div class="col_catalog-2">
										<h3>Категории</h3>
										<div class="text_col-2">
											<a href="{% url 'catalogApp:catalog' 'shoes' %}">Туфли</a>
											<a href="{% url 'catalogApp:catalog' 'boots' %}">Ботинки</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a>Аксессуары</a>
							<ul>
								<li>
									<div class="col_catalog-1">
										<h3>Межсезонная распродажа</h3>
										<div class="text_col-1">
											<a href="#">Галстуки и бабочки</a>
										</div>
									</div>
									<div class="col_catalog-2">
										<h3>Новинки</h3>
										<div class="text_col-2">
											<a href="#">Новые поступления</a>
										</div>
									</div>
									<div class="col_catalog-2">
										<h3>Категории</h3>
										<div class="text_col-2">
											<a href="{% url 'catalogApp:catalog' 'ties' %}">Галстуки и бабочки</a>
                                            <a href="{% url 'catalogApp:catalog' 'bags' %}">Сумки</a>
											<a href="{% url 'catalogApp:catalog' 'aromas' %}">Ароматы</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<a href="{% url 'main:index' %}" class="logo"><img src={% static 'images/logo.png' %} alt="DandyShop"></a>
				<nav class="menu navigation">
					<ul>
						<li><a href="#">Корзина</a></li>
						<li><a href="#">Доставка и оплата</a></li>
                        {% if username %}
                            <li><a href="{% url 'accountApp:logout' %}">Выход ({{ username }})</a></li>
                        {% else %}
                            <li><a href="{% url 'accountApp:login' %}">Вход</a></li>
                        {% endif %}

					</ul>
				</nav>
			</div>
		</div>
	</header>

    <section class="void_for_header"></section>

	{% block context %}{% endblock %}

	<footer>
		<div class="container">
			<div class="block_footer">
				<div>
					<h3>Справка</h3>
					<div class="box_link_footer">
						<a href="#">Часто задаваемые вопросы</a>
						<a href="#">Доставка и получение</a>
						<a href="#">Оплата</a>
						<a href="#">Обмен и возврат</a>
						<a href="#">Контакты</a>
					</div>
				</div>
				<div>
					<h3>Компания</h3>
					<div class="box_link_footer">
						<a href="#">История бренда</a>
						<a href="#">Работа с нами</a>
					</div>
				</div>
				<div>
					<h3>Будьте в курсе новостей</h3>
					<div class="box_link_footer">
						<a href="#">Instagram</a>
						<a href="#">Twitter</a>
						<a href="#">Facebook</a>
						<a href="#">Youtube</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<section class="protection">
		<div class="container">
			<h3>Все права защищены</h3>
		</div>
	</section>
</body>

</html>