body {
    font-family: "century gothic", sans-serif;
	color: #3a2900;
	background-color: #f7f3ed;
}

/* Login form */
.login_form {
    padding: 10px 30px 30px;
    width: 350px;
    margin: 100px auto 0;
    background-color: #eee6dc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.exit {
    font-size: 40px;
    display: block;
    text-align: right;
}

.exit a {
    color: #3a2900;
    text-decoration: none;
}

.login_form h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.login_form p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
}

.login_form input {
    display: block;
    width: 100%;
    font-family: "century gothic", sans-serif;
    font-size: 15px;
    background-color: #eee6dc;
    border: none;
    border-bottom: 2px solid #443d3a;
    padding: 5px 0;
    margin-top: 20px;
}

.login_form input:focus {
    border-bottom: 2px solid #877a74;
}

.login_form label {
    display: block;
    font-size: 15px;
    color: #c94b44;
    margin-top: 20px;
}

.login_form button {
    font-family: "century gothic", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: 40px 0;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #bb8e62;
    border: none;
    cursor: pointer;
}

.login_form h3 {
    font-size: 15px;
    text-align: center;
}

.link_signup {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: 40px 0 20px;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #3a2900;
    border: none;
}
