body {
    font-family: "century gothic", sans-serif;
	color: #3a2900;
	background-color: #f7f3ed;
}

/* Signup form */
.signup_form {
    padding: 20px 90px 30px;
    width: 500px;
    margin: 100px auto 0;
    background-color: #eee6dc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.exit {
    font-size: 40px;
    display: block;
    text-align: right;
}

.exit a {
    color: #3a2900;
    text-decoration: none;
}

.signup_form h2 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 20px;
}

.two_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

}

.signup_form input {
    display: block;
    width: 100%;
    font-family: "century gothic", sans-serif;
    font-size: 15px;
    background-color: #eee6dc;
    border: none;
    border-bottom: 2px solid #443d3a;
    padding: 5px 0;
    margin-top: 20px;
}

.signup_form input:focus {
    border-bottom: 2px solid #877a74;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.block_errors {
    font-size: 15px;
    color: #c94b44;
    margin-top: 20px;
}

.block_errors p {
    margin-top: 10px;
}

.signup_form button {
    font-family: "century gothic", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: 40px 0;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #bb8e62;
    border: none;
    cursor: pointer;
}