{% extends 'base_template.html' %}
{% load static %}

{% block style %}
    {% static 'main/styles/catalog_style.css' %}
{% endblock %}

{% block context %}
    <section class="sorted">
        <div class="container">
            <nav>
                <ul>
                    <li><h4>Упорядочить</h4></li>
                    <li><span>по цене min</span></li>
                    <li><span>по цене max</span></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="vertical_menu_catalog">
        <div class="container">
            <div class="view_catalog">
                <nav class="view_menu_catalog">
                     <ul>
                        <li class="red_text">
                            <h2>Межсезонная распродажа</h2>
                        </li>
                        <li>
                            <h2>Новинки</h2>
                        </li>
                        <li>
                            <h2>Одежда</h2>
                            <ul>
                                <li><a href="{% url 'main:catalog' 'coat' %}">Пальто</a></li>
                                <li><a href="{% url 'main:catalog' 'jackets' %}">Пиджаки</a></li>
                                <li><a href="{% url 'main:catalog' 'trousers' %}">Брюки</a></li>
                                <li><a href="{% url 'main:catalog' 'shirts' %}">Рубашки</a></li>
                                <li><a href="{% url 'main:catalog' 'sweaters' %}">Свитеры и джемперы</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Обувь</h2>
                            <ul>
                                <li><a href="{% url 'main:catalog' 'shoes' %}">Туфли</a></li>
                                <li><a href="{% url 'main:catalog' 'boots' %}">Ботинки</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2>Аксессуары</h2>
                            <ul>
                                <li><a href="{% url 'main:catalog' 'ties' %}">Галстуки и бабочки</a></li>
                                <li><a href="{% url 'main:catalog' 'aromas' %}">Ароматы</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="view_tile_catalog">
                    {% for product in subcatalog.products.all %}
                        <div class="{% cycle 'tile_box_1' 'tile_box_2' 'tile_box_3' %}"
                            style="background-image:
                                    url({{ product.image_products.first.image.url }});">
                            <a href="#" class="link_image"></a>
                            <div class="block_view">
                                <form action="">
                                    <div class="block_size">
                                        {% for count in product.counts.all %}
                                            {% ifnotequal count.count 0 %}
                                                <label>
                                                    <input type="radio" name="size"
                                                           value="{{ count.fk_size }}" required>
                                                    <span>{{ count.fk_size }}</span>
                                                </label>
                                            {% else %}
                                                <span class="block_disabled">{{ count.fk_size }}</span>
                                            {% endifnotequal %}
                                        {% endfor %}
                                    </div>
                                    <button class="link_button" type="submit">Добавить в корзину</button>
                                </form>
                            </div>


                            <a href="#" class="link_text">
                                <h3>{{ product.name }}</h3>
                                <h3>{{ product.price }} руб.</h3>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <form action="1">#}
{#        <label><input type="radio" name="D" value="1" hidden>asfaffa</label>#}
{#        <label><input type="radio" name="D" value="10" hidden>asfaffafdsdf</label>#}
{#        <input type="submit">#}
{#    </form>#}

{% endblock %}
