{% extends 'base_template.html' %}
{% load staticfiles %}

{% block style %}
    <link rel='stylesheet' href='{% static 'main/css/delivery_pay_style.css' %}'>
{% endblock %}

{% block context %}
    <section class="delivery_pay">
        <div class="delivery_pay_content">
            <div id="delivery_info">
                <h2>Доставка</h2>
                <p>БЕСПЛАТНО при заказе от 5000 РУБ.</p>
                <p>При заказе на сумму менее 5000 РУБ. стоимость доставки 490 РУБ. в любой регион России.</p>
                <p>Заказ будет доставлен по указанному Вами адресу. Сроки заказа зависят от зоны доставки. Максимальный срок доставки - 21 день.</p>
                <p>Если Ваш регион - Москва или Санкт-Петербург, доставка осуществляется нашим курьером по указанному Вами адресу. В остальные регионы товар доставляется Почтой России.</p>
            </div>
            <div id="pay_info">
                <h2>Оплата</h2>
                <p>Оплата ТОЛЬКО НАЛИЧНЫМИ при получении.</p>
                <p>Пожалуйста, проверяйте качество товара и соответствие размера до совершения оплаты.</p>
                <p>В случае наличия у товара деффекта Вы имеете право отказаться от покупки без оплаты доставки.</p>
                <p>В случае отказа от преобретения товара по иным причинам компания оставляет за собой право потребовать оплату доставки в размере 490 РУБ. независимо от суммы заказа.</p>
                <p>Во избежание несоответствия выбранного Вами размера, пожалуйста, сверяйтесь с таблицей размеров, представленной в карточке товара!</p>
            </div>
        </div>
    </section>
{% endblock %}









.