{% extends 'base_template.html' %}
{% load staticfiles %}

{% block style %}
    <link rel='stylesheet' href='{% static 'main/css/main_style.css' %}'>
{% endblock %}

{% block context %}
    <section class="slider">
		<div class="container">
			<div class="block_slider">
				<div class="text_slider">
					<h2>Межсезонная распродажа</h2>
					<h3>до</h3>
					<h2>-50%</h2>
					<h3>на определенные модели</h3>
				</div >
				<a href="{% url 'catalogApp:catalog' '2' %}?sale=True">перейти в каталог</a>
			</div>
		</div>
	</section>

	<section class="advantages">
		<div class="container">
			<div class="block_advantages">
				<div>
					<h3>Бесплатная доставка</h3>
					<h4>во все магазины</h4>
				</div>
				<div>
					<h3>Бесплатная доставка на дом</h3>
					<h4>при заказе на сумму выше 5000 рублей</h4>
				</div>
				<div>
					<h3>Бесплатный возврат</h3>
					<h4>в течение 30 дней</h4>
				</div>
				<div>
					<h3>Безопасная оплата</h3>
					<h4>при получении заказа | VISA | MasterCard</h4>
				</div>
			</div>
		</div>
	</section>

	<section class="new_collection">
		<div class="container">
			<div class="block_new_collection">
				<h2>Новые поступления</h2>
				<a class="btn_brown" href="{% url 'catalogApp:catalog' '4' %}?new=True">купить сейчас</a>
			</div>
		</div>
	</section>

	<section class="tile">
		<div class="container">
			<div class="grid_tile">
				<div class="box-1_grid">
					<a href="{% url 'catalogApp:catalog' '2' %}">Пиджаки</a>
				</div>
				<div class="box-2_grid">
					<a href="#">Парки</a>
				</div>
				<div class="box-3_grid">
					<a href="{% url 'catalogApp:catalog' '1' %}">Пальто</a>
				</div>
				<div class="box-4_grid">
					<a href="{% url 'catalogApp:catalog' '4' %}">Рубашки</a>
				</div>
			</div>
		</div>
	</section>

	<section class="popular">
		<div class="container">
			<h2>Популярные товары</h2>
			<div class="block_popular">
				<a href="{% url 'catalogApp:catalog' '9' %}"><img src={% static 'main/images/pop1.png' %} alt="Сумки"></a>
				<a href="{% url 'catalogApp:catalog' '1' %}"><img src={% static 'main/images/pop4.png' %} alt="Пальто"></a>
				<a href="{% url 'catalogApp:catalog' '6' %}"><img src={% static 'main/images/pop5.png' %} alt="Туфли"></a>
				<a href="{% url 'catalogApp:catalog' '2' %}"><img src={% static 'main/images/pop2.png' %} alt="Пиджаки"></a>
				<a href="{% url 'catalogApp:catalog' '4' %}"><img src={% static 'main/images/pop3.png' %} alt="Рубашки"></a>
			</div>
{#			<a href="#" class="btn_popular btn_brown">больше товаров</a>#}
		</div>
	</section>

	<section class="void"></section>

	<section class="aroma">
		<div class="container">
			<div class="block_aroma">
				<div class="text_aroma">
					<h2>The Secret of Nature</h2>
					<h3>Spring collection</h3>
				</div>
				<a class="btn_brown" href="{% url 'catalogApp:catalog' '10' %}">больше ароматов</a>
			</div>
		</div>
	</section>
{% endblock %}


